:root{
    /* ===== Cores ===== */
    --body-color: #f0f0f0;
    --sidebar-color: #FFF;
    --primary-color: #fec85c;
    --primary-color-light: #242424;
    --toggle-color: #DDD;
    --text-color: #707070;
}