/* importa as cores */
@import url('colors.css');

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid-GS {
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.card-GS {
    background-color: #fff; /* TODO Adaptar ao darkmode */
    margin: 2% 1%;
    width: 20%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 32px 24px;
    /*box-shadow: 0 1 2px rgba(0, 0, 0, 0.08);*/
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-GS-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.card-GS-container-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-GS-container-evolucao {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.card-GS-titulo {
    color: #667085; /* TODO Adaptar ao darkmode */
    font-size: 0.75em;
    margin: opx 0px 0.35em;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
}

.card-GS-dados {
    color: #212636; /* TODO Adaptar ao darkmode */
    font-size: 2em;
    font-weight: 500;
    margin: 0px;
    text-align: left;
}

.card-GS-barra {
    position: relative;
    overflow: hidden;
    display: block;
    height: 5px;
    width: 100%;
    margin-top: 10px;
    z-index: 0;
    background-color:rgba(0, 0, 0, 0.2)
}

.card-GS-barra-preenchida {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Cor preenchida com opacidade mais carregada */
  }

  .card-GS-lampada {
    position:fixed;
    width: 10%; /* Nível de luminosidade onde a lâmpada acende (30%) */
    color: #000;
    font-size: 1.5em;
    z-index: 1;
  }

.card-GS-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5em;
    height: 100%;
    width: 80px;
}

.card-GS-evolucao {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.card-GS-evolucao-text {
    color: #667085; /* TODO Adaptar ao darkmode */
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
}

.card-GS-evolucao.positivo {
    color: #BACD92; /* TODO Adaptar ao darkmode */
}

.card-GS-evolucao.negativo {
    color: #D37676; /* TODO Adaptar ao darkmode */
}

.card-GS-evolucao.tempPositivo {
    color: #D37676; /* TODO Adaptar ao darkmode */
}

.card-GS-evolucao.tempNegativo {
    color: #81a1c1; /* TODO Adaptar ao darkmode */
}

.card-GS-btn{
    background-color: #667085; /* TODO Adaptar ao darkmode */
    color: #fff; /* TODO Adaptar ao darkmode */
    border: none;
    border-radius: 8px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s;
    user-select: none;
}

.card-GS-btn:hover {
    background-color: #4d5b6a; /* TODO Adaptar ao darkmode */
}

.card-GS-btn:active {
    background-color: #3a4552; /* TODO Adaptar ao darkmode */
}

/* CHARTS */
.chart.card-GS {
    width: 42%;
}

/* EXTERIOR */
.exterior {
    display: flex;
    flex-direction: column;
    min-height: 26vh;
    min-width: 42%;
}

.exterior.card-GS.noite {
    background: linear-gradient(120deg, #aeaeae -10%, #525253 20%, #323233 100%);
}

.exterior.card-GS.dia {
    background: linear-gradient(120deg, #1c3281 -10%, #4265e4 20%, #2c92e0 100%);
}

.dia{
    color: #ffffff;
}

.exterior .card-GS-titulo {
    color: #ffffff;
}

.card-GS-temp {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 200;
}

.card-GS-temp-min{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 30px;
    opacity: 0.5;
    margin-top: -15px;
}

.card-GS-estado-tempo {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.card-GS-info-container {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 1em;
}

.card-GS-info {
    margin-left: 10px;
}


.card-GS-info-titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: -5px;
}

.card-GS-icon-info {
    font-size: 1.7em;
}

.card-GS-icon-info-container {
    margin-left: 30px;
}

.card-GS-img-container {
    margin-left: 1em;
}
.card-GS-img {  
    width: 250px;
    margin-top: -6em;
}

.card-GS-img.dia {
    animation: rodar 20s ease-in-out infinite;
}

@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}