/* importa as cores */
@import url('/src/styles/colors.css');

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ====== Transitions ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    padding: 20px;
    box-sizing: border-box;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
  }

  .sidebar.fechada{
      width: 88px;
  }
  
.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .imagemPerfil,
.sidebar .icon{
  min-width: 50px;
  border-radius: 6px;
}

.sidebar .icon{
  min-width: 48px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.fechada .text{
  opacity: 0;
}

.sidebar header{
  position: relative;
}

.sidebar header .imagem-menu{
  display: flex;
  align-items: center;
}
.sidebar header .perfil-text{
  display: flex;
  flex-direction: column;
}
header .imagem-menu .nome {
  margin-top: 2px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

header .imagem-menu .funcao{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .imagemPerfil{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .imagemPerfil img{
  width: 40px;
  border-radius: 6px;
  z-index: 2;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -39px;
  transform: translateY(-50%) rotate(135deg);
  height: 40px;
  width: 40px;
  background-color: var(--sidebar-color);
  /* color: var(--sidebar-color); */
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar header .togleIcon{
  transform: rotate(40deg);
}

.sidebar.fechada .toggle{
  transform: translateY(-50%) rotate(-45deg);
  z-index: 1;
}

.sidebar .menu{
  margin-top: 40px;
}

.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover{
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--sidebar-color);
}

.sidebar .active{
  border-radius: 6px;
  background-color: var(--primary-color);
}
.sidebar .active .icon,
.sidebar .active .text{
  color: var(--sidebar-color);
}

.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.fechada ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}